.game-container {
    display: flex;
    flex-direction: column;

    vertical-align: center;
    flex-wrap: wrap;
    align-content: center;

    font-family: "Open Sans", sans-serif;
    background: linear-gradient(top, #222, #333);
    border: 1px solid black;
}

.ticTacToe {
    display: flex;
    justify-content: space-between;

    width: 400px;
    height: 400px;
    padding: 5px;
    border: 1px solid #e4e4e4;

    .column {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }

    .square {
        display: block;
        width: 125px;
        height: 125px;
        border: 1px solid #e4e4e4;

        color: #e4e4e4;
        font-size: 5em;
        font-weight: 100;
        text-align: center;
        padding: 20px;
    }
}
.title {
    color: blue;
    text-align: center;
}

.won {
    color: red;
    text-align: center;
}
.buttons {
    margin-top: 50px;
    display: flex;
    justify-content: center;
}
