* {
  box-sizing: border-box;
}


.flex-justify {
  display: flex;
  justify-content: center;
}

.container {
  border: 1px solid red;
  padding: 25px;

  .title{
    text-align: center;
  }
}

.flex-column {
  display: flex;
  flex-direction: column;
}

.custom-btn {
  height: 50px;
  width: 100px;
  margin: auto;
}
